<div class="row-10 my-5">
  <h1 class="text-center my-3">Wellcome to Taskleaf</h1>
</div>

<div class="row-10 my-5">
  <a class="btn btn-success btn-sm btn-block sign_up" href="/users/sign_up">Sign Up</a>
</div>

<div class="row-10 my-5">
  <a class="btn btn-info btn-sm btn-block mb-3 sign_in" href="/users/sign_in">Log in</a>
</div>